<!-- Footer start -->
<footer class="gd-footer-section padding-footer overlay-default" >
    
</footer>
<!-- Footer end -->
<!-- jquery-->
<script src="../js/vendor/jquery.min.js"></script>
<!-- Bootstrap js-->
<script src="../js/vendor/bootstrap.min.js"></script>
</body>
